@model IEnumerable<Symphony.Areas.Admin.Models.About>


@{
    ViewData["Title"] = "About Index";
}

<table id="about" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new {id=item.Number}) |
                    @Html.ActionLink("Details", "Details", new {id=item.Number}) |
                    @Html.ActionLink("Delete", "Delete", new {id=item.Number})
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(() => {
            $('#about').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                order: [[0, 'desc']],
            })
        })
    </script>
}
