@model IEnumerable<Symphony.Areas.Admin.Models.FAQ>


@{
    ViewData["Title"] = "FAQ Index";
}

<table id="faq" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td style="max-width: 200px">
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td style="max-width: 700px">
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    <a href="@Url.Action("Details", "FAQ", new { id=item.Number })" class="btn btn-secondary">
                        <i class='fa fa-info-circle' aria-hidden='true'></i>
                    </a>
                    <a href="@Url.Action("Update", "FAQ", new { id=item.Number })" class="btn btn-secondary">
                        <i class='fa fa-pencil-square' aria-hidden='true'></i>
                    </a>
                    <a href="@Url.Action("Delete", "FAQ", new { id=item.Number })" onclick="return confirm('Do you want to delete this faq ?')" class="btn btn-secondary">
                        <i class='fa fa-trash' aria-hidden='true'></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(() => {
            $('#faq').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                order: [[0, 'desc']],
            })
        })
    </script>
}
