@model IEnumerable<Symphony.Areas.Admin.Models.ExamCourseModel>

@{
    ViewData["Title"] = "Upcoming Exams";
}
<div class="banner-container py-5">
    <div class="container py-3">
        <div class="banner d-flex justify-content-between">
            <h4 class="banner-left">
                Exam
            </h4>
            <div class="banner-right">
                <a class="banner-link mr-3" asp-area="" asp-controller="Home" asp-action="Index">
                    Homepage
                </a>
                >
                <span class="ml-3">Exam</span>
            </div>
        </div>
    </div>
</div>
<div>
<div class="container">
        <div class="course-title">
            <h3 class="text-center">Upcoming Exams</h3>
        </div>

    <p>
        <a asp-action="Result">View Result</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Exam Id
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fee)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fee)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>