@model IEnumerable<Symphony.Areas.Admin.Models.ClassDetailWithReceiptModel>

@{
    ViewData["Title"] = "Class Details List";
}

<h1>Class Details List</h1>

<p>
    <a asp-action="CreateDetails">Create New</a>
</p>
<table id="classDetails" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RollNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLabSession)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RollNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassId)
                </td>
                <td>
                    <p>ID: @Html.DisplayFor(modelItem => item.PaymentId)</p>
                    <p>Receipt Number: @Html.DisplayFor(modelItem => item.ReceiptNumber)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLabSession)
                </td>
                <td>
                    <a href="@Url.Action("DetailsShow", "Class", new { id=item.Id })" class="btn btn-secondary">
                        <i class='fa fa-info-circle' aria-hidden='true'></i>
                    </a>
                    <a href="@Url.Action("UpdateDetails", "Class", new { id=item.Id })" class="btn btn-secondary">
                        <i class='fa fa-pencil-square' aria-hidden='true'></i>
                    </a>
                    <a href="@Url.Action("DeleteDetails", "Class", new { id=item.Id })" onclick="return confirm('Do you want to delete detail of this class ?')" class="btn btn-secondary">
                        <i class='fa fa-trash' aria-hidden='true'></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(() => {
            $('#classDetails').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                order: [[0, 'desc']],
            })
        })
    </script>
}