@model IEnumerable<Symphony.Areas.Admin.Models.StudentModel>
@{
}
<h1 class="p-3">Student list</h1>

<table id="student" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RollNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody id="body">
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            function RemoveStudent(rollNo){
                const cnfDel = confirm("Do you want to delete this student?");
                if(!cnfDel) return;
                const req = {
                    RollNumber: rollNo
                }
                $.ajax({
                    url: "https://localhost:7119/api/Student/DeleteStudent",
                    type: "post",
                    data: JSON.stringify(req),
                    contentType: "application/json",
                    success: function (res, stt){
                        if(stt != "success") return;
                        console.log(res);
                        console.log(stt);
                        if (!res.Status) return;
                        location.reload();
                    }
                })
            }
            function DetailStudent(rollNo) {
                window.location.href = window.location.protocol + "//" + window.location.host + "/admin/Student/Detail?rollNo=" + rollNo;
            }
            $.ajax({
                url: "https://localhost:7119/api/Student/GetAllStudents",
                type: "get",
                success: function (result, status) {
                    for (let i = 0; i <= result.Data.length - 1; i++){
                    var appendString = "<tr>\
                                <td>"+ result.Data[i].RollNumber + "</td>\
                                <td>"+ result.Data[i].FullName + "</td>\
                                <td>"+ result.Data[i].Email + "</td>\
                                <td>"+ result.Data[i].Phone + "</td>\
                                <td>"+ result.Data[i].Gender + "</td>\
                                <td>"+ result.Data[i].BirthDate.slice(0,10) + "</td>\
                                <td><img src='/images/"+ result.Data[i].Image+"' style='width: 45px; height: 45px'/></td>\
                                <td><button class='btn btn-secondary' id='detailBtn"+ result.Data[i].RollNumber + "'><i class='fa fa-info-circle' aria-hidden='true'></i></button>&nbsp;\
                                <button class='btn btn-secondary' id='updateBtn"+ result.Data[i].RollNumber + "'><i class='fa fa-pencil-square' aria-hidden='true'></i></button>&nbsp;\
                                <button class='btn btn-secondary' id='removeBtn"+ result.Data[i].RollNumber + "'><i class='fa fa-trash' aria-hidden='true'></i></button>\
                                </td>\
                                </tr>"
                    $("#body").append(appendString)
                        const removeBtn = $("#removeBtn" + result.Data[i].RollNumber);
                        removeBtn.click(function(){
                            RemoveStudent(result.Data[i].RollNumber);
                        });
                        const detailBtn = $("#detailBtn" + result.Data[i].RollNumber);
                        detailBtn.click(function(){
                            DetailStudent(result.Data[i].RollNumber);
                        });
                        const updateBtn = $("#updateBtn" + result.Data[i].RollNumber);
                        updateBtn.click(function(){
                            UpdateStudent(result.Data[i].RollNumber);
                        });
                    }
                }
            })
        })

    </script>
}
